<!DOCTYPE html ng-app="huntaxuiba">
<!--[if lt IE 7]>      <html lang="en" ng-app="huntaxuiba" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="huntaxuiba" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="huntaxuiba" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="huntaxuiba" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Huntaxuiba</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
  <link rel="stylesheet" href="bower_components/angular-material/themes/light-green-theme.css">
  <link rel="stylesheet" href="bower_components/angular-material/themes/blue-theme.css">
  <link rel="stylesheet" href="bower_components/bootstrap-css-only/css/bootstrap.min.css">
  <link rel="stylesheet" href="components/angular-toggle-switch/angular-toggle-switch.css">
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="patch.css">
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
  <script src="bower_components/underscore/underscore-min.js"></script>
</head>
<body>
  <!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div ng-controller="LayoutController"  md-theme="blue" md-swipe-left="openSideNav(false)" md-swipe-right="openSideNav(true)" style="width: 100%; height: 100%">
    <section layout="row" flex>
    <md-sidenav style="min-height:100vh;" md-component-id="left" class="md-sidenav-left md-whiteframe-z2" md-is-locked-open="$media('min-width: 959px')">
      <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">
          <span style="color:#ffffff; cursor: pointer" ng-click="routeTo('search')">Hunta Xiuba</span>
          <!-- fill up the space between left and right area -->
          <span flex></span>
        </div>
      </md-toolbar>

          <div>
            <md-button aria-label="Offers" class="md-primary nav-button" ng-click="routeTo('offers');search.type='offers'">
              Offers
            </md-button>
          </div>
          <div>
            <md-button aria-label="Resumes" class="md-primary nav-button" ng-click="routeTo('resumes');search.type='resumes'">
              Resumes
            </md-button>
          </div>

    </md-sidenav>

    <md-content flex>
      <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">
          <md-button id="menuButton" aria-label="Menu" style="height: 50px; width:50px; color:white; font-size: 20px;" class="md-button-colored md-primary" ng-click="openLeftMenu()">
            <span class="glyphicon glyphicon-align-justify"></span>
          </md-button>
          <span style="color:#000000">
            <form class="form-horizontal" role="form" name="searchForm" novalidate>
              <div class="form-control searchBar">
                <input class="form-control" label="Search" ng-model="search.text" placeholder="Search for {{search.type}}" type="text" flex="80">
                <button aria-label="search" class="md-button-colored md-primary nav-button" ng-click="searchAction()" flex="10">
                  O
                </button>
              </div>
            </form>
          </span>
          <!-- fill up the space between left and right area -->
          <span flex></span>
        </div>
      </md-toolbar>
        <div class='' ng-view style="min-height: 93%"></div>
    </md-content>
      </section>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->

  <!-- components angular -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/hammerjs/hammer.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
  <script src="bower_components/ngFx/dist/ngFx.js"></script>

  <!-- app components -->
  <script src="components/authentication/authentication.js"></script>
  <!-- api components -->
  <script src="components/apiRest/api.js"></script>
  <script src="components/apiRest/offers/offers.js"></script>
  <script src="components/apiRest/resumes/resumes.js"></script>
  <script src="components/apiRest/search/search.js"></script>
  <!---->
  <script src="components/angular-toggle-switch/angular-toggle-switch.min.js"></script>
  <script src="components/toast/toast.js"></script>
  <!---->

  <!-- app -->
  <script src="app.js"></script>
  <script src="views.js"></script>
  <script src="views/search/search.js"></script>
  <script src="views/resumes/resumes.js"></script>
  <script src="views/resumes/resume.js"></script>
  <script src="views/offers/offers.js"></script>
  <script src="views/offers/offer.js"></script>

</body>
</html>
