<div class="pageView soloPage">
    <div  ng-if="loading">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <div ng-if="!loading" >

        <div collapse="!isResumeFormOpen">
            <ng-include src=" 'views/resumes/formResume.html' "></ng-include>
        </div>

        <h1>{{resume.name}} {{resume.lastName}}</h2>
        <div style="font-size:0.8em">{{resume.dateUpdate | date:'dd/MM/yyyy HH:mm:ss'}}</div>
        <div><span>About: </span>{{resume.about}}</div>
        <div><span>Country</span> {{resume.country}}</div>
        <div><span>Cities :</span></div>
        <div ng-repeat="city in resume.cities">{{city}}</div>
        <div>{{resume.birthDate  | date:'dd/MM/yyyy HH:mm:ss'}}</div>
        <div><span>E-mail :</span>{{resume.email}}</div>
        <div><span>Phone :</span>{{resume.phone}}</div>

        <div>
            <span>Languages :</span>
        </div>
        <div ng-repeat="languag in resume.language">{{languag}}</div>
        <div>
            <span>Diploms :</span>
        </div>
        <div ng-repeat="diplom in resume.diploms">{{diplom}}</div>
        <div>
            <span>Experiences :</span>
        </div>
        <div ng-repeat="experience in resume.experiences">{{experience}}</div>
        <div>
            <span>Skills :</span>
        </div>
        <div ng-repeat="skill in resume.skills">{{skill}}</div>
        <div>
            <span>Hobbies :</span>
        </div>
        <div ng-repeat="hobbie in resume.hobbies">{{hobbie}}</div>
        <div>
            <span>Studies :</span>
        </div>
        <div ng-repeat="studie in resume.studies">{{studie}}</div>

        <button class="btn btn-primary" ng-click="updateClick(resume)">Update</button>
        <input type="password"  ng-show="showSecretDeleteInput" ng-model="resume.secret">
        <button class="btn" ng-click="deleteResume(resume);showSecretDeleteInput=true">Delete</button>
    </div>
</div>