<div class="pageView">
    <button class="toggleFormButton btn btn-primary btn-lg" ng-click="isResumeFormOpen = !isResumeFormOpen">Post your resume</button>

    <div collapse="!isResumeFormOpen" id="replyForm" >
        <ng-include src=" 'views/resumes/formResume.html' "></ng-include>
    </div>

    <div >
        <div  ng-if="loading">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
        <div ng-if="!loading" class="row">
            <div class="offer offer-cdi col-md-6 col-sm-12 fx-fade-left fx-speed-1500" ng-repeat="resume in resumes | orderBy:'dateUpdate':true">
                <div class="aside">
                    <div class="date">{{resume.dateUpdate | date:'dd/MM/yyyy HH:mm:ss'}}</div>
                </div>
                <h3><a href ng-click="routeTo('resume/'+resume.id)">{{resume.name}} {{resume.lastName}}</a></h3>
                <div>Country: {{resume.country}}</div>
                <div ng-if="resume.cities[0]">
                    Cities :
                    <span ng-repeat="city in resume.cities">{{city}}</span>
                </div>
                <div ng-if="resume.diploms[0]">
                    Diploms :
                    <span ng-repeat="diplom in resume.diploms">{{diplom}}</span>
                </div>
                <div ng-if="resume.skills[0]">
                    Skills :
                    <span ng-repeat="skill in resume.skills">{{skill}}</span>
                </div>
            </div>

        </div>
    </div>
</div>