<button ng-click="isOfferFormOpen = !isOfferFormOpen">Create job offer</button>

<div ng-show="isOfferFormOpen" id="replyForm" >
    <ng-include src=" 'views/offers/formOffer.html' "></ng-include>
</div>

<div>
    <div  ng-if="loading">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <div ng-if="!loading" >
        <div  ng-repeat="offer in offers | orderBy:'dateUpdate':true">
            <div class="{{offer.type}}"></div>
            <div><a href ng-click="routeTo('offer/'+offer.id)">{{offer.name}}</a></div>
            <div>{{offer.dateUpdate | date:'dd/MM/yyyy HH:mm:ss'}}</div>
            <div>
                Wage : {{offer.price.min}} - {{offer.price.max}}
            </div>
            <div>{{offer.type}}</div>
            <div>{{offer.company.country}}</div>
            <div>{{offer.company.city}}</div>
            <div>{{offer.company.name}}</div>
        </div>
    </div>
</div>
