<button ng-click="isOfferFormOpen = !isOfferFormOpen">Create job offer</button>

<div ng-show="isOfferFormOpen" id="replyForm">
    <form  role="form" name="offerForm" novalidate>
        <label for="name">Offer title</label>
        <input type="text" id="name" ng-model="offer.name">

        <label for="email">Offer title</label>
        <input type="email" id="email" ng-model="offer.email">

        <label for="name">Offer title</label>
        <input type="text" id="name" ng-model="offer.name">

        <label for="name">Offer title</label>
        <input type="text" id="name" ng-model="offer.name">

        <label for="name">Offer title</label>
        <input type="text" id="name" ng-model="offer.name">
    </form>
</div>
