<div class="col-sm-6 col-sm-offset-3">
<form class="form-horizontal" role="form" name="signupForm" ng-controller="SignUpController" novalidate>

    <md-text-float class="full-width" label="Name" ng-model="credentials.name" type="text"></md-text-float>
    <md-text-float class="full-width" label="E-mail" ng-model="credentials.email" type="email"></md-text-float>
    <md-text-float class="full-width" label="Password" ng-model="credentials.password" type="password"></md-text-float>

    <md-button aria-label="signup" class="md-button-colored md-primary nav-button" ng-click="signup(credentials)">
        SignUp
    </md-button>

</form>
</div>